## Exploratory Stage

In [3]:
import pandas as pd

template = pd.read_csv('./LLM Engineer task/template.csv')
eg1 = pd.read_csv('./LLM Engineer task/table_A.csv')
eg2 = pd.read_csv('./LLM Engineer task/table_B.csv')

In [6]:
template.head()

         Date   EmployeeName    Plan PolicyNumber  Premium
0  01-05-2023       John Doe    Gold      AB12345      150
1  02-05-2023     Jane Smith  Silver      CD67890      100
2  03-05-2023  Michael Brown  Bronze      EF10111       50
3  04-05-2023  Alice Johnson    Gold      GH12121      150
4  05-05-2023     Bob Wilson  Silver      IJ13131      100

In [7]:
eg1.head()

,Date_of_Policy,FullName,Insurance_Plan,Policy_No,Monthly_Premium,Department,JobTitle,Policy_Start,Full_Name,Insurance_Type,Policy_Num,Monthly_Cost
0,05/01/2023,John Doe,Gold Plan,AB-12345,150.0,IT,Software Engineer,05/01/2023,John Doe,Gold,AB-12345,150.0
1,05/02/2023,Jane Smith,Silver Plan,CD-67890,100.0,HR,HR Manager,05/02/2023,Jane Smith,Silver,CD-67890,100.0
2,05/03/2023,Michael Brown,Bronze Plan,EF-10111,50.0,Marketing,Marketing Coordinator,05/03/2023,Michael Brown,Bronze,EF-10111,50.0
3,05/04/2023,Alice Johnson,Gold Plan,GH-12121,150.0,Finance,Financial Analyst,05/04/2023,Alice Johnson,Gold,GH-12121,150.0
4,05/05/2023,Bob Wilson,Silver Plan,IJ-13131,100.0,Sales,Sales Executive,05/05/2023,Bob Wilson,Silver,IJ-13131,100.0

In [8]:
eg2.head()

,PolicyDate,Name,PlanType,Policy_ID,PremiumAmount,Hobby,MaritalStatus,StartDate,Employee_Name,Plan_Name,PolicyID,Cost
0,2023-05-01,Doe,John,GoldPackage,AB12345,Photography,Married,2023-05-01,John Doe,Gold,AB12345,150
1,2023-05-02,Smith,Jane,SilverPackage,CD67890,Reading,Single,2023-05-02,Jane Smith,Silver,CD67890,100
2,2023-05-03,Brown,Michael,BronzePackage,EF10111,Traveling,Divorced,2023-05-03,Michael Brown,Bronze,EF10111,50
3,2023-05-04,Johnson,Alice,GoldPackage,GH12121,Cooking,Married,2023-05-04,Alice Johnson,Gold,GH12121,150
4,2023-05-05,Wilson,Bob,SilverPackage,IJ13131,Hiking,Single,2023-05-05,Bob Wilson,Silver,IJ13131,100

In [22]:
from langchain.agents import create_csv_agent
from langchain.llms import OpenAI
from langchain.chat_models import ChatOpenAI
from langchain.agents.agent_types import AgentType
import os

In [23]:
open_ai_api_key = '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'

os.environ["OPENAI_API_KEY"] = open_ai_api_key

In [26]:
agent = create_csv_agent(
    OpenAI(temperature=0),
    './LLM Engineer task/template.csv',
    verbose=True,
    agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION,
)

In [27]:
agent.run('how many columns are there?')

> Entering new AgentExecutor chain...
Thought: I need to count the number of columns
Action: python_repl_ast
Action Input: len(df.columns)
Observation: 5
Thought: I now know the final answer
Final Answer: There are 5 columns in the dataframe.

> Finished chain.

'There are 5 columns in the dataframe.'

In [28]:
agent.run('what are the column names?')

> Entering new AgentExecutor chain...
Thought: I need to find out what the column names are
Action: python_repl_ast
Action Input: df.columns
Observation: Index(['Date', 'EmployeeName', 'Plan', 'PolicyNumber', 'Premium'], dtype='object')
Thought: I now know the column names
Final Answer: Date, EmployeeName, Plan, PolicyNumber, Premium

> Finished chain.

'Date, EmployeeName, Plan, PolicyNumber, Premium'

In [29]:
agent.run('what are the data types of each column?')

> Entering new AgentExecutor chain...
Thought: I need to find out the data type of each column
Action: python_repl_ast
Action Input: df.dtypes
Observation: Date            object
EmployeeName    object
Plan            object
PolicyNumber    object
Premium          int64
dtype: object
Thought: I now know the final answer
Final Answer: The data types of each column are Date (object), EmployeeName (object), Plan (object), PolicyNumber (object), and Premium (int64).

> Finished chain.

'The data types of each column are Date (object), EmployeeName (object), Plan (object), PolicyNumber (object), and Premium (int64).'

In [30]:
agent2 = create_csv_agent(
    ChatOpenAI(temperature=0, model="gpt-3.5-turbo-0613"),
    ['./LLM Engineer task/template.csv', './LLM Engineer task/table_A.csv'],
    verbose=True,
    agent_type=AgentType.OPENAI_FUNCTIONS,
)

In [31]:
agent2.run('what columns in the second table contain duplicate data?')

> Entering new AgentExecutor chain...

Invoking: `python_repl_ast` with `{'query': 'df2.duplicated().any()'}`


FalseThere are no columns in the second table (`df2`) that contain duplicate data.

> Finished chain.

'There are no columns in the second table (`df2`) that contain duplicate data.'

In [35]:
op = agent2.run('In the second table, are there any columns that could contain the same information or type of information, if so what are they?')

> Entering new AgentExecutor chain...
Yes, there are several columns in the second table that could contain the same information or type of information.

1. "FullName" and "EmployeeName" columns could contain the same information as they both represent the full name of the employee.
2. "Insurance_Plan" and "Plan" columns could contain the same type of information as they both represent the insurance plan of the employee.
3. "Policy_No" and "PolicyNumber" columns could contain the same information as they both represent the policy number of the employee.
4. "Monthly_Premium" and "Premium" columns could contain the same information as they both represent the monthly premium amount of the employee.
5. "Full_Name" and "EmployeeName" columns could contain the same information as they both represent the full name of the employee.
6. "Insurance_Type" and "Plan" columns could contain the same type of information as they both represent the insurance plan of the employee.
7. "Policy_Num" and "PolicyNumber" columns could contain the same information as they both represent the policy number of the employee.
8. "Monthly_Cost" and "Premium" columns could contain the same information as they both represent the monthly premium amount of the employee.

> Finished chain.

In [36]:
op

'Yes, there are several columns in the second table that could contain the same information or type of information. \n\n1. "FullName" and "EmployeeName" columns could contain the same information as they both represent the full name of the employee.\n2. "Insurance_Plan" and "Plan" columns could contain the same type of information as they both represent the insurance plan of the employee.\n3. "Policy_No" and "PolicyNumber" columns could contain the same information as they both represent the policy number of the employee.\n4. "Monthly_Premium" and "Premium" columns could contain the same information as they both represent the monthly premium amount of the employee.\n5. "Full_Name" and "EmployeeName" columns could contain the same information as they both represent the full name of the employee.\n6. "Insurance_Type" and "Plan" columns could contain the same type of information as they both represent the insurance plan of the employee.\n7. "Policy_Num" and "PolicyNumber" columns could contain the same information as they both represent the policy number of the employee.\n8. "Monthly_Cost" and "Premium" columns could contain the same information as they both represent the monthly premium amount of the employee.'

In [34]:
agent2.run('Map the columns in the first table to those in the second table. Return these as a list of dictionaries')

> Entering new AgentExecutor chain...

To map the columns in the first table (`df1`) to those in the second table (`df2`), we need to identify the corresponding columns in each dataframe. Based on the provided column names, the mapping is as follows:

- `Date` in `df1` maps to `Date_of_Policy` in `df2`
- `EmployeeName` in `df1` maps to `FullName` in `df2`
- `Plan` in `df1` maps to `Insurance_Plan` in `df2`
- `PolicyNumber` in `df1` maps to `Policy_No` in `df2`
- `Premium` in `df1` maps to `Monthly_Premium` in `df2`

Please note that the column names are case-sensitive, so make sure to use the exact column names when referencing them in your code.

> Finished chain.

'To map the columns in the first table (`df1`) to those in the second table (`df2`), we need to identify the corresponding columns in each dataframe. Based on the provided column names, the mapping is as follows:\n\n- `Date` in `df1` maps to `Date_of_Policy` in `df2`\n- `EmployeeName` in `df1` maps to `FullName` in `df2`\n- `Plan` in `df1` maps to `Insurance_Plan` in `df2`\n- `PolicyNumber` in `df1` maps to `Policy_No` in `df2`\n- `Premium` in `df1` maps to `Monthly_Premium` in `df2`\n\nPlease note that the column names are case-sensitive, so make sure to use the exact column names when referencing them in your code.'